<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739603367964-fefk82rb7lpo6ojgqhlpmu59529bn1jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739603367964-fefk82rb7lpo6ojgqhlpmu59529bn1jm</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbDLuTAgn2d67VcmMaTtlu2v9NCxr77Q</string>
	<key>GCM_SENDER_ID</key>
	<string>739603367964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poddlybonk.CloudCards</string>
	<key>PROJECT_ID</key>
	<string>cloudcards-fc495</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudcards-fc495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739603367964:ios:83f2c133c36c26033bb7d9</string>
</dict>
</plist>